


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #b4d1ec, #e2ebec);
    background-image:url("background2.jpg");
    background-size:cover;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background:none(34, 231, 97);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 80px;
    color: #752f1e;
    margin-bottom: 20px;
}

.card {
    background:none;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #040a11;
    font-size: 22px;
}

button {
    padding:10px 15px;
    cursor:pointer;
    font-size: 18px;
    color: #100101;
    
}
button:hover{
    background:/2980b9;
}

.countdown {
    margin-top: 15px;
    padding: 10px;
    background:none;
    color: rgb(44, 120, 56);
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
}